/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#content {
position: relative;
top : 91vh;
}

.caption h3 {
    
    font-size: 500%;
}

.center-image {
    
    display:block;
    margin:auto;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.dirtyfont {
    
    font-family:"dirtyheadline", "Roboto";
}

.overlay {
background:transparent;
position:relative;
width:1000px; /* your iframe width */
height:500px; /* your iframe height */
top:500px; /* your iframe height */
margin-top:-500px; /* your iframe height */
}
